body{
    font-family: "Montserrat";
}

/* font-weight: 900 */
h1, .cta-h3{
    font-weight: 900;
}

 /* font-weight: 700  */
h3{
    font-weight: 700;
}




/* Navbar section  */

.container-fluid{
    padding: 3% 15% 9%;
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

#title h1{
    font-size: 4rem;
    line-height: 1.5;
}



.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px ;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 400;
}

.download-btn{
    margin: 5% 3% 5% 0;
}

.Iright{
    position: relative;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Feature Section  */

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

#features p{
    color: #4e4e4e;
    font-size: 1.3rem;
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color:#ff4c68;
}


/* Testi */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    font-weight: 400;
}

#testimonials h2{
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item{
    padding: 7% 15%;
}

.testimoni-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press  */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 13%;
    padding: 20px 20px 50px;
}


/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

#pricing p{
    color: #4e4e4e;
    font-size: 1.3rem;
}

#pricing h2{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-coloums{
    padding: 3% 2%;
}


/* cta */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

.cta-button{
    margin: 4% 1% 4% 0
}

.cta-h3{
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}


/* Footer */

#footer{
    background-color: white;
    text-align: center;
    padding: 7% 15%;

}

#footer p{
    color: #4e4e4e;
    font-size: 1.3rem;
}

.logo-footer{
    margin: 20px 10px;
}

/* Query and function  */

@media (max-width: 1100px) {
    #title{
        text-align: center;
    }
    
    .title-img {
        position: static;
        transform: rotate(0);
    }
}